<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="container" id="result">
    <a class="navbar-brand" th:href="@{/home}"> start page </a>
    <div th:if="${room eq null}">
        <h1 class="display-8 font-italic text-center"><strong>This room doesn't exist</strong></h1>
        <div class="text-center">
            <a href="#" th:href="@{/home}" role="button">Back to start page</a>
        </div>
    </div>
    <h2 class="text-center">Room with light bulbs</h2>
    <div th:unless="${room eq null}" class="section">
        <div>
            <h4>Room info:</h4>
            Name: <h5 th:text="${room.name}">Name</h5>
            Country: <h5 th:text="${room.country}">country</h5>
            on/off: <h5 th:text="${room.lightIsEnable}">light</h5>
        </div>
        <div align="center" class="buttons-wrapper">
            <div class="buttons">
                <button id="btn1" name="on" th:value="${room.id}">on</button>
                <button id="btn2" name="off" th:value="${room.id}">off</button>
            </div>
            <span th:if="${room.lightIsEnable eq true}">
                               <img src="../static/images/bulb_on.svg" th:src="@{/images/bulb_on.svg}"
                                    style="width: 300px" alt="icon">
                        </span>
            <span th:unless="${room.lightIsEnable eq true}">
                              <img src="../static/images/bulb_off.svg" th:src="@{/images/bulb_off.svg}"
                                   style="width: 300px" alt="icon">
                        </span>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" src="../static/js/withoutUpdate.js" th:src="@{/js/withoutUpdate.js}"></script>
</body>
</html>
